body{
	padding: 0 2%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
    background-image: url(/Images/logo-entreprise2.png);
	background-size:cover;
}
/********************BARRE DE NAVIGATION********************/
nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color:white;
	position: sticky;
	top: 0;
}
.profil{
	display: flex;
	align-items: center;
}
.profil img{
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.profil h1{
	margin-left: 10px;
	font-size: 15px;
}

nav a:hover{
    color:orange;
    border-bottom: 2px solid gold;
}
 
nav ul{
	display: flex;
	list-style: none;
	margin-right: 10px;
}
nav ul li{
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid white;
}
nav ul li:hover{
	border-bottom-color: black;
}
nav ul li ul{
	display: none;
	border-bottom-color: none;
}