body{
	padding: 0 2%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../Images/logo-entreprise2.png);
	background-size: cover;
	
}
/********************BARRE DE NAVIGATION********************/
nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color:white;
	position: sticky;
	top: 0;
}
.profil{
	display: flex;
	align-items: center;
}
.profil img{
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.profil h1{
	margin-left: 10px;
	font-size: 15px;
}

a {
  text-decoration: none;  
}
 
nav ul{
	display: flex;
	list-style: none;
	margin-right: 10px;
}
nav ul li{
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid white;
}
nav ul li:hover{
	border-bottom-color: black;
}
nav ul li ul{
	display: none;
	border-bottom-color: none;
}
h3 {
	padding-top: 3%;
	font-size: 78px;
	color: silver;
	text-align: center;
}

.button1 {
    display: inline-block;
    text-decoration: none;
    color: #120817;
    background-color:( #fd7718);
    border-radius: 0.25rem;
}
.button1:hover span {
    background-color: #b3a166;
}
.button1:active span {
    translate: none;
}
.button1 span {
    display: inherit;
    border-radius: inherit;
    background-color: #dace70;
    padding: 1rem 2rem;
    translate: 0.25rem -0.25rem;
    border: 2px solid #fc9829;
    transition: translate 100ms 
    cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 250ms;
}

/* FOOTER */
footer {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}
